@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family:sans-serif;
  font-weight: 600;
  font-size: 14px;
}
html{
  height: 100%;

}
body{
  min-height: 100%;

}
header{
  width: 100vw;
  height: 90px;
  line-height: 1.75;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header > li,a,button{
   color: white;
   text-decoration: none;
  text-transform: uppercase;
}
.logo{
  cursor: pointer;
}
.nav_links{
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;

}
.nav_links li a {
   display: block;
   letter-spacing: 1px;
  position: relative;
  z-index: 1;
}
a,button{
  transition: all 0.3s ease-out 0s;
  outline: medium none;
}
.nav_links li a::before{
  content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #00C4F4;
    transform-origin: right top;
  transform: scale(0, 1);
  transform :0.4s cubic-bezier(.74, .72, .27, .24);
  transition: all 0.3s ease-out 0s;
}
.nav_links li a:hover::before{
  transform-origin: left top;
  transform: scale(1,1);
   
}

.banner_area{
 background-image: url(./banner_bg.jpeg);
  background-position:center;
    background-size:cover;
     position: relative;
    z-index: 1;
    padding: 120px 0 0 ;
    overflow: hidden;
  height: 688.195px;

}
.banner_area::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(0.23deg, #030B15 5.68%, rgba(3, 11, 21, 0.42) 81.9%);
    z-index: -1;
   
}
.container{
 
  margin-left: auto;
  margin-right: auto;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.banner_area > h2 {
  font-size: 44px;
}
.banner_area{
  text-align: center;
  overflow: hidden;
  line-height: 1.4;
    letter-spacing: 1px;
    width: 100%;
    max-width: 100%;

}
#title1{
  font-size: 44px;
  color:#00C4F4;
}
.MillName  {
  font-size: 12px;
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-decoration: none;
  color: white;
 margin: 0px 400px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
 
    font-weight: bold;
    letter-spacing: -1px;

}
.MillName > li {
display: inline-block;
}
 .Mill1{
  color: #00C4F4;
  position: relative;

 }
 .Mill1::before{
      content: "";
      position: absolute;
      top: 30px;
      width: 2px;
      height: 16px;
      background-color: #00C4F4;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);

 }
 .Mill2{
  color: #FF9700;
  position: relative;
 }
 .Mill2::before{
  content: "";
    position: absolute;
    top: 30px;
    width: 2px;
    height: 16px;
    background-color:#FF9700;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);

 }
 .Mill3{
  color: #12D176;
  position: relative;
 }
 .Mill3::before{
  content: "";
    position: absolute;
    top: 30px;
    width: 2px;
    height: 16px;
    background-color:#12D176;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
 }







@media screen and (max-width:800px) {
  .navbar{
    display: none;
  }


}
